/* 鼠标样式 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* 这里改变跟随的底色 */
    background: rgb(57, 197, 187);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
  }
  
  #cursor.hidden {
    opacity: 0;
  }
  
  #cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
  
  #cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  body {
    font-family: "LXGW WenKai", sans-serif;
    /* Lite version */
    /* font-family: "LXGW WenKai Lite", sans-serif; */
    /* TC version */
    /* font-family: "LXGW WenKai TC", sans-serif; */
    /* Screen version */
    /* font-family: "LXGW WenKai Screen", sans-serif; */
  }
  /* 隐藏主页的侧边导航栏，仅在首页起效 */
/* 默认隐藏导航栏 */
.hide-nav .md-sidebar--secondary {
  display: none;
}
